/.idea
/.vscode
.env
*.log
backend/vendor
backend/.env
backend/storage/logs/*
backend/bootstrap/cache/*
frontend/node_modules
frontend/dist
.env
backend/.env
frontend/.env
frontend/.env.local
backend/vendor/
frontend/node_modules/
backend/storage/logs/*
backend/bootstrap/cache/*
.env
backend/.env
frontend/.env
frontend/.env.local
backend/vendor/
frontend/node_modules/
backend/storage/logs/*
backend/bootstrap/cache/*
/simplyfood
