COMPOSE_PROJECT_NAME=simplyfood
APP_URL=http://localhost:8080
HOST_UID=1000
HOST_GID=1000

DB_DATABASE=simplyfood
DB_USERNAME=simplyfood
DB_PASSWORD=simplyfood
DB_ROOT_PASSWORD=root

VITE_API_URL=http://localhost:8080/api
